body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #e0feff, #1565c0)
  }
  .container{
    padding-top:80px;
  }
  
  img{
    height:200px;
    width:100%;
  }
  .card-block{
    margin-bottom:50px;
    min-height:200px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
    background-color:#2ea3cc00;
  }
  .card-title{  
    transition:1s;
    cursor:pointer;
    padding:15px;
    font-family: 'Times New Roman', Times, serif;
   font-size:19px;
  
   
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
   margin:10px;
   font-family: 'Times New Roman', Times, serif;
   font-size:18px;
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  
  .btn-primary {
    color: #fff;
    background-color:#2ecc71;
    border-color: #0d6efd;
  }
  
  
  .btn-toolbar{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-top:50px;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #2ecc71;
    border-color: #6c757d;
    padding:10px;
  }
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px
  }
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998
  }
  
  .social-network a.icoTwitter:hover {
    background-color: #33ccff
  }
  
  .social-network a.icoGoogle:hover {
    background-color: #BD3518
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i {
    color: #fff
  }
  
  a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
  }
  
  .social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
  }